<div class="peliculas-container">
  <h2 class="titulo text-center mb-4">🎬 Listado de Películas</h2>

  <!-- Filtros -->
  <form [formGroup]="filtroForm" class="row align-items-end mb-4 justify-content-center">
    <div class="col-md-4">
      <label class="form-label fw-semibold">Filtrar por idioma:</label>
      <select class="form-select rounded-pill" formControlName="idioma">
        <option value="0" selected disabled hidden>Seleccione...</option>
        <option *ngFor="let idioma of idiomas" [value]="idioma">{{ idioma }}</option>
      </select>
    </div>

    <div class="col-md-2">
      <button type="button" class="btn btn-secondary w-100" (click)="filtrarPeliculas()">
        <i class="bi bi-filter-circle"></i> Filtrar
      </button>
    </div>

    <div class="col-md-2">
      <button type="button" class="btn btn-danger w-100 btn-limpiar" (click)="limpiarFiltros()">
        <i class="bi bi-x-circle"></i> Limpiar
      </button>
    </div>

    <div class="col-md-3">
      <button type="button" class="btn btn-primary w-100" (click)="irAregistrarPelicula()">
        <i class="bi bi-plus-circle"></i> Agregar Película
      </button>
    </div>
  </form>

  <!-- Listado de películas -->
  <div class="peliculas-lista container">
    <div class="row justify-content-center">
      <div class="col-lg-3 col-md-4 col-sm-6 mb-4" *ngFor="let pelicula of peliculas">
        <div class="card pelicula-card shadow-sm border-0">
          <img src="assets/imgs/peliculas.webp" class="card-img-top" alt="Película">
          <div class="card-body text-center">
            <h5 class="fw-bold">{{ pelicula.nombrepelicula }}</h5>
            <p>Género: {{ pelicula.generopelicula }}</p>
            <p>Idioma: {{ pelicula.idiomaPelicula }}</p>
            <p>Duración: {{ pelicula.duracionpelicula }}</p>
            <p>Clasificación: {{ pelicula.clasificacionpelicula }}</p>
            <p>Director: {{ pelicula.directorpelicula }}</p>

            <div class="d-flex justify-content-between">
            <button class="btn btn-info" (click)="irActualizarPelicula(pelicula.idpelicula)">
              <i class="bi bi-pencil-square"></i> Actualizar
            </button>
            <button class="btn btn-danger" (click)="abrirDialogEliminar(pelicula.idpelicula)">
              <i class="bi bi-trash"></i> Eliminar
            </button>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
